HOST=localhost
PORT=5000

PGUSER=postgres
PGPASSWORD=postgres
PGDATABASE=openmusic
PGHOST=localhost
PGPORT=5432

ACCESS_TOKEN_KEY=your_super_secret_access_key_here_make_it_long_and_random
REFRESH_TOKEN_KEY=your_another_super_secret_refresh_key_here_also_long_and_random
ACCESS_TOKEN_AGE=1800
REFRESH_TOKEN_AGE=2592000

RABBITMQ_SERVER=amqp://localhost
SMTP_HOST=smtp.gmail.com
SMTP_PORT=465
SMTP_USER=your_email
SMTP_PASSWORD=your_password_6_digits_karakter_noSpasi
REDIS_SERVER=redis://127.0.0.1:6379